@import url('https://fonts.googlepis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', san-serif;
 }
 .card-image{
 position:relative;
 height:150px;
 width:150px;
 }
 .slide-content{
 margin: 0 40px;
 }
 .overlay{
 position: absolute;
 height:100%;
 width:100%;
 left: 0;
 top: 0;
 }
 .overlay::before,
 .overlay::after{
 content: ''
 position: absolute;
 height: 40px;
 width: 40 px;
 }